/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f0f0f;
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
}

/* Header */
header{
    background:#181818;
    padding:18px;
    text-align:center;
    font-size:28px;
    font-weight:bold;
    box-shadow:0 2px 10px rgba(0,0,0,.4);
}

/* Container */
.container{
    max-width:900px;
    margin:30px auto;
    padding:15px;
}

/* Card Video */
.video-card{
    background:#1b1b1b;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.4);
    transition:.3s;
}

.video-card:hover{
    transform:translateY(-5px);
}

/* Video */
video{
    width:100%;
    display:block;
    background:#000;
}

/* Informasi Video */
.info{
    padding:20px;
}

.info h2{
    font-size:24px;
    margin-bottom:10px;
}

.info p{
    color:#bdbdbd;
    line-height:1.6;
}

/* Tombol */
.btn{
    display:inline-block;
    margin-top:20px;
    padding:14px 28px;
    background:#ff0033;
    color:#fff;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    background:#ff3366;
    transform:scale(1.05);
}

/* Responsive */
@media(max-width:768px){

header{
    font-size:22px;
}

.info h2{
    font-size:20px;
}

.btn{
    width:100%;
    text-align:center;
}

}
